html {
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

.div-1{  
    height: 100%;
    margin: auto;
}
header{
    height: 100%;
    background-image: url('/home/rose/alx_html_css/css_advanced/CSS Advanced/Object.png');
    width: 100%;
    height: 990px;
}
.header1{
  text-align: center;
    height: 100%;
}
.logo{
    float: left;
    width: 200px;
    height: 100px;
    display: inline;
}
ul{
    list-style-type: none;
}
nav li{ 
    display: inline-block;
    float: right;
  }
  
  nav li a{
      display: block;
      padding:10px 15px;
      text-align: center;
      color: white;
      display: block;
  }
  .button1{
    background-color:#C271FF;
    color: white;
    border-radius: 10px;
    padding: 10px 24px;
    width: 250px;
    align-self: center;
    margin-bottom: 140px;
  }
  .brand{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .brand1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
  }
  h1{
    margin-top: 30%;
    font-size: 60px;
  }

.learnfrompros1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.quote1{
    background-color: #C271FF;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.quote2{
    height: 392px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column   
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .videos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .videos1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
    flex-wrap: nowrap;


  }
  .image11 {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image12{
    position: absolute;
    top: 30px;
    left: 30px;
  }

.image2{
width: 45%;
display: flex;
flex-direction: row;
}
.stars{
  width: 55%;
  height: 20%;
  display: flex;
flex-direction: row;
}
.membership{
  background-color: #00003b;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.membership1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h3{
  text-align: center;
}
.flex-conat{
  display: flex;
}
.faq{
  height: 100%;
  text-align: center;
  justify-content: center;
}
.faq1{
 flex: 1;
}
.faq2{
  flex: 1;
 }
footer{
  background-color: #00003b;
  display: flex;
  height: 90px;
 
  
}
.footer1{
display: flex;
justify-content: end;
}
.all{
  display: flex;
  flex-direction: row;
}