html {
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
}

.div-1{  
    height: 100%;
    margin: auto;
}
header{
    height: 100%;
    background-image: url('/home/rose/alx_html_css/css_advanced/CSS Advanced/Object.png');
    width: 100%;
    height: 990px;
}
.header1{
    text-align: center;
    height: 100%;
}
.logo{
    float: left;
    width: 200px;
    height: 100px;
    display: inline;
}
ul{
    list-style-type: none;
}
nav li{ 
    display: inline-block;
    float: right;
  }
  
  nav li a{
      display: block;
      padding:10px 15px;
      text-align: center;
      color: white;
      display: block;
  }
  .button1{
    background-color:#C271FF;
    color: white;
    border-radius: 10px;
    padding: 10px 24px;
    width: 250px;
    align-self: center;
  }
  .brand{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .brand1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .h1{
    font-family:source-sans-pro;
  }
  .learn-from-pros{
    display: flex;
    flex-direction: column;
  }
.learn-from-pros1{
display: flex;
justify-content: space-around;
flex-direction: row;

}

.bruce{
    border-radius: 10px;
    overflow: hidden;
}
.quote1{
    background-color: #C271FF;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
.quote2{
    height: 392px;
    justify-content: center;
    align-items: center;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image11 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
  }
  
  .image12{
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid #000000;
  }