main{
    display:flex;
    flex-direction: row;
    flex: auto;
}

body{
    display:flex;
    flex-direction: column;


}
article{
    flex: 2;  
    overflow-y:auto ;  
    background-color: skyblue;    
    border-radius: 20px;
    padding: 0%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}
aside{
    flex:1;
    overflow-y: auto;
}
header{
    border: 2px;
    background-color: hotpink
}
footer{
    
    text-emphasis-color: white;
    
}